.header {
    background-color: honeydew;
    position: relative;
    height: "10px";
    width: "10"
}

#company_logo {
    position: absolute;
}

#todo_header {
    position: absolute;
    right: "10px";
}