.header {
    background-color:gray;
    position: relative;
    width: 100%;
    height: 10vh;
}

#company_logo {
    position: absolute;
    left: 5%;
    width: 4%;
    margin-top: 1vh;
}

#todo_header {
    font-size: 1.3em;
    font-style: oblique;
    font-stretch: expanded;
    position: absolute;
    width: 100%;
    text-align: center;
    /* right: 45%; */
}

#side_nav {
    position: fixed;
    width: 15%;
    background-color: cornflowerblue;
    height: 88vh;
}

#todo_content {
    position: relative;
    left: 15%;
    width:85%;
    background-color: aquamarine;
    height: 88vh;
}

#todo_content_head {
    border: 1px;
    position: relative;
    /* background-color: deepskyblue; */
    padding: 5px;
    width: 60%;
    height: 6vh;
    border-radius: 20px;
    left: 20%;
    top: 5%;

    border-width: 2px;
    border-style: solid;
    border-color: deepskyblue;
}

.search_button{
    text-align: center;
    background-color: ivory;
    border-radius: 5px;
}

#todo_content_search{
    position: absolute;
    /* background-color: darksalmon; */
    padding: 0.5%;
    margin-left:4%;
    padding-left: 2%;
    padding-right: 4%;
    left: 5vw;
    border-radius: 10px;
    margin-left: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    
}
#todo_content_add {
    position: absolute;
    padding: 2px;
    background-color: ivory;
    left: 30vw;
    top: 10px;
    width: 15%;
    
    margin-left: 20px;
}


#todo_list {
    background-color: mediumslateblue;
    position: relative;
    width: 80%;
    left: 10%;
    top: 10%;
    height: 65vh;
    border-radius: 15px;
    padding:3px;
    padding-left: 8px;

    
    border-width: 2px;
    border-style: solid;
    border-color: deepskyblue;
}

.todo_item{
    margin:5px;
    margin-top: 15px;
    
}

.todo_edit_btn{
    margin-left: 75%;
}

.todo_detail{

    width: 70%;
    
    background-color: mediumpurple;
    
    position: absolute;
    }