.header {
    background-color:gray;
    position: relative;
    width: 100%;
    height: 80px;
}

#company_logo {
    position: absolute;
    left: 5%;
    height: 5%;
    margin-top: 2%;
}

#todo_header {
    position: absolute;
    right: 45%;
}